venv/
.env
.env.*

*.pyc
__pycache__/
*.log

.DS_Store
Thumbs.db

.vscode/
.idea/

*.pid
*.tar
*.sock

.streamlit/config.toml
.streamlit/credentials.toml
.streamlit/cache/

*.db
*.sqlite
*.bak

*.zip
*.tar.gz

node_modules/
dist/
build/
